<div class="m-5">
  <h1 class="my-1">{{game.information.title}}</h1>
  <h3 class="my-1 text-muted">Select Difficulty</h3>
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <label *ngFor="let d of game.information.mainScreen" class="btn btn-outline-primary">
      <input type="radio" name="btnradio" checked (change)="setDifficulty(d.difficulty)"> {{d.difficulty}}
    </label>
  </div>
  <h5 class="my-1" *ngIf="reviews.stars[currentDifficulty] !== 0">
    <span class="text-info">You reviewed this difficulty of this game with </span>
    <span style="color: goldenrod">{{reviews.stars[currentDifficulty]}} stars.</span>
  </h5>

  <div class="card border-secondary mb-3">
    <div class="card-img-top">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let i of game.information.mainScreen[currentDifficulty].images">
          <div class="picsum-img-wrapper">
            <img src="http://medresearch1.med.auth.gr/exercise/{{i}}" alt="Random first slide" class="w-100"/>
          </div>
          <div class="carousel-caption">
            <h6>Nulla vitae elit libero, a pharetra augue mollis interdum.</h6>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Maximum duration: {{game.information.mainScreen[currentDifficulty].maxDurationSec}} seconds</li>
      <li class="list-group-item">
        <youtube-player videoId="{{this.game.information.multimedia.slice(32,43)}}"> </youtube-player>
      </li>
    </ul>
    <div class="card-body">
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" (change)="setReview(currentDifficulty, 5)"/>
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" (change)="setReview(currentDifficulty, 4)"/>
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" (change)="setReview(currentDifficulty, 3)"/>
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" (change)="setReview(currentDifficulty, 2)"/>
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" (change)="setReview(currentDifficulty, 1)"/>
        <label for="star1" title="text">1 star</label>
      </div>
    </div>
  </div>
</div>
<div class="toast show position-fixed bottom-0 end-0" role="alert" aria-live="assertive" aria-atomic="true" *ngIf="showToast === true">
  <div class="toast-header">
    <strong class="me-auto">Review updated.</strong>
    <small>just now</small>
    <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close" (click)="showToast = false">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="toast-body">
    {{reviews.stars[currentDifficulty]}} stars on "{{game.information.title}}"!
  </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
