<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cognitive Games</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['']" routerLinkActive="active">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Reviews</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="m-5">
  <h1>Welcome to Cognitive Games!</h1>
  <h3 class="my-2 text-muted">Here are some featured games you can try.</h3>
</div>
<div #target class="alert alert-light my-2 mx-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-7 g-4">
    <div class="col"  *ngFor="let g of featuredGames">
      <div class="card">
        <a [routerLink]="['/game',g.id]" routerLinkActive="active">
          <img src="http://medresearch1.med.auth.gr/exercise/{{g.information.mainScreen[0].images[0]}}" class="card-img-top" alt="{{g.information.title}}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{g.information.title}}</h5>
          <h6 class="card-text text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, nam!</h6>
          <a href="{{g.information.multimedia}}" class="btn btn-primary mt-2 text-white" target="_blank" rel="noopener noreferrer" >Watch Online</a>
        </div>
      </div>
    </div>
  </div>
</div>
